.container {
    color: var(--colorPrimario);
    text-align: center;
    padding: 2rem;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 1.2em;
}

.container h1 {
    margin-bottom: 1rem;
}

.container p {
    line-height: 1.6;
}