/*:root {
  --primary-color: #800080; 
  --secondary-color: #4B0082;
  --bg-color: #c2c24b;
  --white: #E6E6FA;
  --text-dark: #D8BFD8;
  --text-light: #4B0082;
  --success: #4B0082;
}*/

.test-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  padding: 20px;
}

.test-card {
  /*background: var(--white);*/
  width: 100%;
  max-width: 500px;
  /*border-radius: 16px;*/
  /*box-shadow: 0 10px 25px rgba(0,0,0,0.1);*/
  overflow: hidden;
  padding-bottom: 0px;
}

/*
.progress-bar {
  height: 6px;
  background: #eee;
  width: 100%;
}*/

.progress-fill {
  height: 100%;
  background: var(--primary-color);
  transition: width 0.4s ease;
}

.test-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.step-indicator {
  font-size: 0.85rem;
  font-weight: bold;
  color: var(--primary-color);
  background: #fff4e6;
  padding: 4px 12px;
  border-radius: 20px;
}

.current-score {
  font-size: 0.85rem;
  color: var(--text-light);
}

.titulo {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-dark);
}

.subtext {
  font-size: 15px;
  padding: 15px;
  font-weight: 500;
  color: var(--text-light);
}


.options-grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 30px;
}

.option-btn {
  background: var(--white);
  border: 2px solid #edf2f4;
  padding: 15px 20px;
  border-radius: 12px;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--text-dark);
}

.option-btn:hover {
  border-color: var(--colorBordeVentana);
  background-color: var(--colorSombraVentana);
}

.option-btn.active {
  border-color: var(--colorBordeVentana);
  background-color: var(--colorSombraVentana);
  /*font-weight: bold;*/
}


.nav-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 10px 30px;
  height: auto;
}
.paginador{
    max-height: 20px;
}
.btn-nav {
  background: none;
  border: none;
  color: var(--text-light);
  font-weight: bold;
  cursor: pointer;
}

.btn-nav:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.btn-finish {
  background: var(--colorSecundario);
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 3px 3px var(--colorSombraVentana);
}

/*
.result-card {
  background: white;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}*/

.score-badge {
  display: inline-block;
  background: var(--colorSecundario);
  color: white;
  padding: 8px 20px;
  border-radius: 30px;
  margin-bottom: 20px;
}

.result-details {
  text-align: left;
  background: #fcfcfc;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 30px;
  /*border: 1px solid #eee;*/
}

.highlight-box {
  background: #fff9f2;
  /*border-left: 4px solid var(--colorPrimario);*/
  padding: 10px;
  margin-top: 15px;
}
/*BOTON DE RESET NO VISIBLE*/
.btn-reset {
  display: none;
  width: 100%;
  background: var(--colorSecundario);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.perfil-conservador h2 { color: #0984e3; }
.perfil-moderado h2 { color: #00b894; }
.perfil-agresivo h2 { color: #e17055; }
.perfil-experto h2 { color: #6c5ce7; }
