:root{
    font-family: var(--tipoLetraGeneral);
}


.contTestInversor{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--colorBordeVentana);
    border-style: solid;
    border-radius: 10px;
    padding: 30px;
}

#botonTest{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 70px;
    margin-top: 20px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    border:none;
    background-color: var(--colorPrimario);
    color: var(--colorLetrasBoton);
    transition: 0.3s;
}

#botonTest:hover{
    background-color: var(--colorSecundario);
    transform: scale(1.1);
}