:root{
  --colorPrimario:#4B0082;
  --colorSecundario:#800080;
  --colorLetrasBoton:beige;
  --colorBordeVentana:#E6E6FA;
  --colorSombraVentana:#DDA0DD;
  --tipoLetraGeneral:system-ui, 'Segoe UI', Roboto, sans-serif;
}
